* {
   margin: 0;
   padding: 0;
}

body {
    background-color: aqua;
    text-align: center;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: 900;
    font-style: oblique;
}

header {
    background-color: aliceblue;
    padding: 10px 10px 10px 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

p {
    padding: 5px 5px 5px 5px;
    background-color: aliceblue;
    margin: 20px;
}

input {
    text-align: center;
    margin: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px;
}

button {
    background-color: darkturquoise;
    margin: 10px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}